/* style for the main page */
body {
    background-image: url('assets/menu/title/background/sun.png');
    background-color: #87CFEB;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: right 0px;
    user-select: none;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/* style for the cursor, change regular.png into the name of the mouse cursor picture*/
html {
    /* overflow makes it so you can't move the screen around */
    overflow-x: hidden;
    overflow-y: hidden;
    /* makes the cursor cross hair */
    cursor: cell;
    /* pointer events makes it so you cant drag the images */
    pointer-events: none;
}

div.legend {

    width: 290px;
    height: 100px;
    
}

.startButton {

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.grassLine {
    background-color: #4DAF56;
    height: 15px;
    width: 100%;
    position: fixed;
    bottom: 150px;
    left: 0px;

}

.grass {
    background-color: #8BC349;
    height: 150px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;

}

p {
    font-family: 'Press Start 2P', serif;
    font-size: 15px;
    color: rgb(0, 0, 0);
    /* -webkit-text-stroke: 2px black;*/
    line-height: 10px;
    position: -100px;

}