/* style for the main page */

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* style for the cursor, change regular.png into the name of the mouse cursor picture*/
html {
    cursor: url("regular.png"), auto;

}
div.legend {
    border: solid rgb(158, 110, 42) 3px;
    width: 200px;
    
}
body {
    /*
    Placeholder image
    */
    background-image: url("assets/background.jpg");
}